@font-face {
    font-family: 'WildWolf';
    src: url('/fonts/WildWolfRegular.woff2') format('woff2'),
        url('/fonts/WildWolfRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SegoeUIBold';
    src: url('/fonts/SegoeUIThis-Bold.woff2') format('woff2'),
        url('/fonts/SegoeUIThis-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SegoeUI';
    src: url('/fonts/SegoeUIThis.woff2') format('woff2'),
        url('/fonts/SegoeUIThis.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

