@font-face {
    font-family: 'WildWolf';
    src: url('/fonts/WildWolfRegular.woff2') format('woff2'),
        url('/fonts/WildWolfRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'UniviaBold';
    src: url('/fonts/UniviaPro-Bold.woff2') format('woff2'),
        url('/fonts/UniviaPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Univia';
    src: url('/fonts/UniviaPro-Regular.woff2') format('woff2'),
        url('/fonts/UniviaPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

