@import "./fonts.css";
@import "tailwindcss";
@import "./base.css";
@import "./theme.css";

#app {
  overflow:hidden;
  min-height: 100dvh;
  width: 100vw;
}

.loader {
  display: inline-block;
  font-size: 48px;
  font-family: 'Segoe UI Regular', sans-serif;
  font-weight: bold;
  position: relative;
}
.loader::before {
  content: '';  
  position: absolute;
  left: 33px;
  bottom: -10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 0.6s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 