@theme {
  /* Global styles */
  --color-primary: #830213;
  --color-secondary: #d61e2b;
  --color-accent: #b41520;
  --color-yellow: #f0db4f;
  /* Dark mode */
  --color-dark-background: #161616;
  --color-dark-text: #f6f6f6;
  --color-dark-gray-dark: #18191e;
  --color-dark-gray-medium: #272830;
  --color-dark-gray-light: #3b3d49;
  /* Light theme */
  --color-background: #ffffff;
  --color-text: #1a1a1a;
  --color-gray-dark: #cccccc;
  --color-gray-medium: #dddddd;
  --color-gray-light: #eeeeee;
  --font-primary: 'WildWolf';
  --font-secondary: 'SegoeUI';
  --font-secondary-bold: 'SegoeUIBold';
  /* Animations */
  --animate-fadeIn: fadeIn 400ms ease-in-out;
  --animate-fadeOut: fadeOut 400ms ease-in-out;
  --animate-rotation-360-reverse: rotation-360 1s linear infinite reverse;
  --animate-rotation-360: rotation-360 1s linear infinite;
  --keyframes-fadeIn: {
    0%: { opacity: '0' },
    100%: { opacity: '1' },
  };
  --keyframes-fadeOut: {
    0%: { opacity: '1' },
    100%: { opacity: '0' },
  };
  @keyframes rotation-360 {
    0% {
      transform: scale(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

@custom-variant dark (&:where(.dark, .dark *));
