
@layer utilities {
  /* Typography */
  .fs-h1 { font-size: var(--text-h1); line-height: 1.2;}
  .fs-h2 { font-size: var(--text-h2); line-height: 1.2;}
  .fs-h3 { font-size: var(--text-h3); line-height: 1.2;}
  .fs-h4 { font-size: var(--text-h4); line-height: 1.2;}
  .fs-h5 { font-size: var(--text-h5); line-height: 1.2;}
  .fs-h6 { font-size: var(--text-h6); line-height: 1.2;}
  .fs-base { font-size: var(--text-base); line-height: 1.2;}
  .fs-small { font-size: var(--text-small); line-height: 1.2;}
  .font-primary { font-family: var(--font-primary); }
  .font-secondary { font-family: var(--font-secondary); }
  .font-secondary-bold {
    font-family: var(--font-secondary-bold);
    font-weight: var(--font-weight-bold);
  }
}