import type { FC } from 'react';
import type { {{pascalNombre}}Props } from './types';

const {{pascalNombre}}: FC<{{pascalNombre}}Props> = ({
  name,
  color,
}) => {
  return (
    <div>
      <h1 className={`text-${color}`}>{name}</h1>
    </div>
  );
};

export default {{pascalNombre}};