import type { FC } from 'react';
import type { {{pascalNombre}}PageViewProps } from './types';

// Aquí puedes agregar la visualización de tu página
const {{pascalNombre}}PageView: FC<{{pascalNombre}}PageViewProps> = (props) => {
  const { name } = props;
  return(
    <div className='w-full h-dvh flex flex-col items-center justify-center' >
      <h1>{name}</h1>;
    </div>
  ) 
};

export { {{pascalNombre}}PageView };